{% assign title = "Details" %}
{% include section_header.html %}

<div class="row" id="details">
  <div class="col-md-6 faq">
    <h3>Oyo eza nini? <small>What is this?</small></h3>
    <p>A group of people interested in the Lingala language and Congolese culture.</p>
    <p>We're just getting started, but we plan on meeting once a month for general conversation and occasionally featuring presenters, music, movies, or anything else related to Lingala.<p>
  </div>

  <div class="col-md-6 faq">
    <h3>Yangana nani? <small>Who&rsquo;s invited?</h3>
    <p>You! Your friends! Anybody! We&rsquo;re open to anyone who wants to come.</p>
    <p>You might be a long time Lingala-speaker, or maybe hardly know about it at all but are interested. All are welcome to enjoy, learn, teach, and connect.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 faq">
    <h3>Eza wapi na tango nini? <small>Where and when is it?</small></h3>
    <p>The club hasn't started yet, we are still getting the word out and gathering a list of interested folks. We'll meet in Indianapolis, likely on the northeast side of town, but that depends on who's in the club and where they live.<p>
    <p>If you're interested, <a href="http://eepurl.com/Kiu5D">sign up for the newsletter</a> to get information about our first meeting!<p>
  </div>
  <div class="col-md-6 faq">
    <h3>Interested?</h3>
    <p>Sign up for the newsletter to get notified when we have more information about our first meeting.<br />
    <br />
    <em>and/or</em><br />
    <br />
    <a href="https://www.facebook.com/groups/168149323394437/">Join the "Indy Lingala Club" Facebook group</a> for updates there.</p>
  </div>
</div>