body {
	font-family: "open sans";
	max-width: 730px;
}

#main {
	width: 670px;
	margin: 30px auto;
}

#main h1 {
	font: 800 64px/70px "open sans";
	text-align: center;
}

h2 {
	font: 600 30px/30px "open sans";
	text-transform: uppercase;
	text-align: center;
	vertical-align: top;
}

h3 {
	font-family: "open sans";
}

hr {
	margin: 10px 0px;
}

#logo {
	padding: 20px 0;
}

#slogan {
	font: 400 36px/36px "gentium book basic";
	font-style: italic;
	margin-left: 15px;
}

.faq p {
	font: 400 15px/22px "open sans";
}

#details {
	margin-top: 20px;
}

#subscribe {
	margin-top: 20px;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}